* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-style: normal;
  background: #fdfdfd;
}

.container {
  width: 1400px;
  padding: 0 1rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.align-start {
  align-items: center;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.align-stretch {
  align-items: stretch;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  padding: 3rem 0;
}
section h1,
section h2 {
  font-size: 3rem;
  word-spacing: 4px;
}
section h3 {
  font-size: 2.5rem;
  word-spacing: 3px;
}
section h4 {
  font-size: 2rem;
  word-spacing: 2px;
}
section h5 {
  font-size: 1.5rem;
  word-spacing: 2px;
}
section p {
  font-size: 1rem;
  word-spacing: 2px;
  line-height: 1.8;
}

header {
  width: 1440px;
  height: 695px;
  padding: 20px 130px;
  overflow: hidden;
  background: linear-gradient(102.87deg, #fceed5 6.43%, #fceed5 78.33%, #ffe7ba 104.24%);
  border-radius: 0px 0px 40px 40px;
}
header .log {
  position: absolute;
  top: 30px;
  left: 150px;
  z-index: 3;
}
header nav {
  gap: 50px;
  align-items: center;
  padding-left: 120px;
}
header nav .lar ul {
  gap: 48px;
}
header nav .inlar .form {
  gap: 14px;
}
header nav .inlar .input {
  width: 280px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 46px;
  background-color: #fff;
  position: relative;
}
header nav .inlar .input input {
  border: none;
  width: 200px;
  margin-left: 20px;
  background-color: transparent;
  outline: none;
}
header nav .inlar .button {
  width: 203px;
  height: 44px;
  background: #003459;
  border-radius: 57px;
}
header nav .inlar .button button {
  border: none;
  background: none;
}
header nav .inlar .button button p {
  color: #fdfdfd;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

header .container {
  width: 100%;
  height: 100%;
  background: transparent;
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  overflow: hidden;
}

header .container .showcase1 {
  height: 100%;
}
header .container .showcase1 h1 {
  position: relative;
  font-weight: 800;
  font-size: 60px;
  line-height: 68px;
  text-transform: capitalize;
  color: #002a48;
  z-index: 2;
}
header .container .showcase1 h2 {
  font-weight: 700;
  font-size: 46px;
  line-height: 60px;
  text-transform: capitalize;
  color: #002a48;
  padding-top: 10px;
}
header .container .showcase1 p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #242b33;
  padding-top: 20px;
  padding-bottom: 30px;
}
header .container .showcase1 .botton {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .container .showcase1 .botton .button1 {
  background: transparent;
  color: #003459;
  cursor: pointer;
}
header .container .showcase1 .botton button {
  width: 163px;
  height: 48px;
  color: #fdfdfd;
  background: #003459;
  border-radius: 57px;
  cursor: pointer;
}

header .container .rasm {
  width: 944px;
  height: 693px;
  position: absolute;
  z-index: 5;
  top: 10px;
  left: 390px;
}
header .container .rasm img {
  width: 944px;
  height: 693px;
  position: absolute;
  z-index: 5;
  top: 10px;
  left: 0px;
}

header {
  position: relative;
}
header .show1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
header .show2 {
  position: absolute;
  left: 140.6px;
  top: 163px;
  z-index: 1;
}
header .show3 {
  position: absolute;
  left: 599.22px;
  top: 280px;
  z-index: 1;
}
header .show4 {
  position: absolute;
  left: 635.67px;
  top: 210px;
  z-index: 1;
}
header .show5 {
  position: absolute;
  left: 38.33px;
  top: 604px;
  z-index: 1;
}
header .show6 {
  position: absolute;
  left: 762.19px;
  top: 148px;
  z-index: 1;
}
header .show7 {
  position: absolute;
  left: 727px;
  top: 223.64px;
  z-index: 2;
}
header .show8 {
  position: absolute;
  left: 728px;
  top: 210.68px;
  z-index: 1;
}

section#puppy {
  width: 1440px;
  padding: 70px 130px;
  position: relative;
  background: #fdfdfd;
}
section#puppy p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding-left: 20px;
}
section#puppy h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #003459;
  text-transform: capitalize;
  padding-left: 20px;
}
section#puppy button {
  position: absolute;
  width: 151px;
  height: 44px;
  border-radius: 57px;
  border: 1.5px solid #003459;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 80px;
  right: 140px;
}
section#puppy button p {
  color: #003459;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding-right: 20px;
}

section#puppy .container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px;
  padding-top: 20px;
  background: #fdfdfd;
}

section#puppy .container .puppy {
  background: #fdfdfd;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 8px 8px 16px 8px;
}
section#puppy .container .puppy img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  border-radius: 10px;
}
section#puppy .container .puppy h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #00171f;
  padding-top: 8px;
}
section#puppy .container .puppy p {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #667479;
  padding-top: 10px;
  padding-bottom: 10px;
}

section#explore {
  width: 1440px;
  padding: 70px 130px;
  position: relative;
}

section .container {
  width: 100%;
  height: 100%;
  background: transparent;
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  overflow: hidden;
  background: #003459;
  border-radius: 20px;
}

section .container .ex2 {
  height: 100%;
}
section .container .ex2 h1 {
  position: relative;
  font-weight: 800;
  font-size: 52px;
  line-height: 68px;
  text-transform: capitalize;
  color: #002a48;
  z-index: 2;
}
section .container .ex2 h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-transform: capitalize;
  color: #002a48;
  padding-top: 10px;
}
section .container .ex2 p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #242b33;
  padding-top: 20px;
  padding-bottom: 30px;
}
section .container .ex2 .botton {
  display: flex;
  align-items: center;
  gap: 20px;
}
section .container .ex2 .botton .button1 {
  background: transparent;
  color: #003459;
  cursor: pointer;
}
section .container .ex2 .botton button {
  width: 163px;
  height: 48px;
  color: #fdfdfd;
  background: #003459;
  border-radius: 57px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */