* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-style: normal;
  background: #fdfdfd;
}

.container {
  width: 1400px;
  padding: 0 1rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.align-start {
  align-items: center;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.align-stretch {
  align-items: stretch;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  padding: 3rem 0;
}
section h1,
section h2 {
  font-size: 3rem;
  word-spacing: 4px;
}
section h3 {
  font-size: 2.5rem;
  word-spacing: 3px;
}
section h4 {
  font-size: 2rem;
  word-spacing: 2px;
}
section h5 {
  font-size: 1.5rem;
  word-spacing: 2px;
}
section p {
  font-size: 1rem;
  word-spacing: 2px;
  line-height: 1.8;
}

button {
  cursor: pointer;
}

@-webkit-keyframes ldio-ptiu2in5ce {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes ldio-ptiu2in5ce {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-ptiu2in5ce div {
  left: 138.46px;
  top: 75.25px;
  position: absolute;
  -webkit-animation: ldio-ptiu2in5ce linear 1s infinite;
          animation: ldio-ptiu2in5ce linear 1s infinite;
  background: #1d0e0b;
  width: 24.08px;
  height: 18.06px;
  border-radius: 0px/0px;
  transform-origin: 12.04px 75.25px;
}

.ldio-ptiu2in5ce div:nth-child(1) {
  transform: rotate(0deg);
  -webkit-animation-delay: -0.875s;
          animation-delay: -0.875s;
  background: #1d0e0b;
}

.ldio-ptiu2in5ce div:nth-child(2) {
  transform: rotate(45deg);
  -webkit-animation-delay: -0.75s;
          animation-delay: -0.75s;
  background: #1d0e0b;
}

.ldio-ptiu2in5ce div:nth-child(3) {
  transform: rotate(90deg);
  -webkit-animation-delay: -0.625s;
          animation-delay: -0.625s;
  background: #1d0e0b;
}

.ldio-ptiu2in5ce div:nth-child(4) {
  transform: rotate(135deg);
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
  background: #1d0e0b;
}

.ldio-ptiu2in5ce div:nth-child(5) {
  transform: rotate(180deg);
  -webkit-animation-delay: -0.375s;
          animation-delay: -0.375s;
  background: #1d0e0b;
}

.ldio-ptiu2in5ce div:nth-child(6) {
  transform: rotate(225deg);
  -webkit-animation-delay: -0.25s;
          animation-delay: -0.25s;
  background: #1d0e0b;
}

.ldio-ptiu2in5ce div:nth-child(7) {
  transform: rotate(270deg);
  -webkit-animation-delay: -0.125s;
          animation-delay: -0.125s;
  background: #1d0e0b;
}

.ldio-ptiu2in5ce div:nth-child(8) {
  transform: rotate(315deg);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  background: #1d0e0b;
}

.loadingio-spinner-spinner-qfo4vmmbnza {
  width: 301px;
  height: 301px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}

.ldio-ptiu2in5ce {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-ptiu2in5ce div {
  box-sizing: content-box;
}

.load {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 20;
  top: -100%;
  background: linear-gradient(102.87deg, #fceed5 6.43%, #fceed5 78.33%, #ffe7ba 104.24%), #ffffff;
  -webkit-animation: infinite;
          animation: infinite;
  -webkit-animation-name: load;
          animation-name: load;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes load {
  0% {
    top: 0;
  }
  99% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}

@keyframes load {
  0% {
    top: 0;
  }
  99% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}
header {
  width: 1440px;
  height: 695px;
  padding: 0px 130px;
  overflow: hidden;
  background: linear-gradient(102.87deg, #fceed5 6.43%, #fceed5 78.33%, #ffe7ba 104.24%);
  border-radius: 0px 0px 40px 40px;
}
header .log {
  position: absolute;
  top: 30px;
  left: 150px;
  z-index: 3;
}
header nav {
  gap: 50px;
  align-items: center;
  padding: 20px;
  padding-left: 120px;
}
header nav .lar ul {
  gap: 48px;
}
header nav .inlar .form {
  gap: 14px;
}
header nav .inlar .input {
  width: 280px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 46px;
  background-color: #fff;
  position: relative;
}
header nav .inlar .input input {
  border: none;
  width: 200px;
  margin-left: 20px;
  background-color: transparent;
  outline: none;
}
header nav .inlar .button {
  width: 203px;
  height: 44px;
  background: #003459;
  border-radius: 57px;
  cursor: pointer;
}
header nav .inlar .button button {
  border: none;
  background: none;
  cursor: pointer;
}
header nav .inlar .button button p {
  color: #fdfdfd;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

header .container {
  width: 1440px;
  height: 695px;
  background: transparent;
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  overflow: hidden;
}

header .container .showcase1 {
  height: 100%;
}
header .container .showcase1 h1 {
  position: relative;
  font-weight: 800;
  font-size: 60px;
  line-height: 68px;
  text-transform: capitalize;
  color: #002a48;
  z-index: 2;
}
header .container .showcase1 h2 {
  font-weight: 700;
  font-size: 46px;
  line-height: 60px;
  text-transform: capitalize;
  color: #002a48;
  padding-top: 10px;
}
header .container .showcase1 p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #242b33;
  padding-top: 20px;
  padding-bottom: 30px;
}
header .container .showcase1 .botton {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .container .showcase1 .botton .button1 {
  background: transparent;
  color: #003459;
  cursor: pointer;
}
header .container .showcase1 .botton button {
  width: 163px;
  height: 48px;
  color: #fdfdfd;
  background: #003459;
  border-radius: 57px;
  cursor: pointer;
}

header .container .rasm {
  width: 944px;
  height: 100%;
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 390px;
}
header .container .rasm img {
  width: 944px;
  height: 693px;
  position: absolute;
  z-index: 6;
  bottom: 0;
  left: 0px;
}

header {
  position: relative;
}
header .show1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
header .show2 {
  position: absolute;
  left: 140.6px;
  top: 163px;
  z-index: 1;
}
header .show3 {
  position: absolute;
  left: 599.22px;
  bottom: 0;
  z-index: 1;
}
header .show4 {
  position: absolute;
  left: 635.67px;
  bottom: 0;
  z-index: 1;
}
header .show5 {
  position: absolute;
  left: 38.33px;
  bottom: 0;
  z-index: 1;
}
header .show6 {
  position: absolute;
  left: 762.19px;
  top: 148px;
  z-index: 1;
}
header .show7 {
  position: absolute;
  left: 727px;
  top: 223.64px;
  z-index: 2;
}
header .show8 {
  position: absolute;
  left: 728px;
  top: 210.68px;
  z-index: 1;
}

header nav .english {
  display: flex;
  align-items: center;
}
header nav .english .dropbtn {
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
header nav .english .dropdown {
  position: relative;
  display: inline-block;
}
header nav .english .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header nav .english .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header nav .english .dropdown-content a:hover {
  background-color: #ddd;
}
header nav .english .dropdown:hover .dropdown-content {
  display: block;
}
header nav .english .dropdown:hover .dropbtn {
  background-color: transparent;
}

section#puppy {
  width: 1440px;
  padding: 70px 130px;
  position: relative;
  background: #fdfdfd;
}
section#puppy p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding-left: 20px;
}
section#puppy h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #003459;
  text-transform: capitalize;
  padding-left: 20px;
}
section#puppy button {
  position: absolute;
  width: 151px;
  height: 44px;
  border-radius: 57px;
  border: 1.5px solid #003459;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 80px;
  right: 140px;
}
section#puppy button p {
  color: #003459;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding-right: 20px;
}

section#puppy .container {
  width: 1180px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px;
  padding-top: 20px;
  background: #fdfdfd;
  margin: 0 auto;
}

section#puppy .container .puppy {
  width: 100%;
  height: 100%;
  background: #fdfdfd;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 8px 8px 16px 8px;
}
section#puppy .container .puppy img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  border-radius: 10px;
}
section#puppy .container .puppy h3 {
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  color: #00171f;
  padding-top: 8px;
}
section#puppy .container .puppy p {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #667479;
  padding-top: 10px;
  padding-bottom: 10px;
}

section#explore {
  padding: 20px 130px;
  position: relative;
  overflow: hidden;
}

section#explore .container {
  width: 1180px;
  height: 378px;
  background: transparent;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  overflow: hidden;
  background: #003459;
  border-radius: 20px;
  padding-right: 55px;
}

section#explore .container .ex1 img {
  position: absolute;
  z-index: 5;
}

section#explore .container .ex2 {
  height: 100%;
}
section#explore .container .ex2 h1 {
  position: relative;
  font-weight: 800;
  font-size: 52px;
  line-height: 68px;
  text-transform: capitalize;
  color: #002a48;
  z-index: 2;
  text-align: end;
}
section#explore .container .ex2 h2 {
  text-align: end;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-transform: capitalize;
  color: #002a48;
  padding-top: 10px;
  z-index: 2;
  position: relative;
}
section#explore .container .ex2 p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  z-index: 2;
  color: #242b33;
  padding-top: 20px;
  padding-bottom: 30px;
  position: relative;
  text-align: end;
}
section#explore .container .ex2 .botton {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  justify-content: end;
  z-index: 4;
}
section#explore .container .ex2 .botton .button1 {
  background: transparent;
  color: #003459;
  cursor: pointer;
}
section#explore .container .ex2 .botton button {
  width: 163px;
  height: 48px;
  color: #fdfdfd;
  background: #003459;
  border-radius: 57px;
  cursor: pointer;
}

section#explore .pup1 {
  position: absolute;
  left: 668.67px;
  top: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
section#explore .pup2 {
  position: absolute;
  left: 130px;
  bottom: 0;
  z-index: 2;
  border-bottom-left-radius: 20px;
  bottom: 20px;
}

section#products {
  padding: 70px 130px;
  position: relative;
  background: #fdfdfd;
}
section#products p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding-left: 20px;
}
section#products h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #003459;
  text-transform: capitalize;
  padding-left: 20px;
}
section#products button {
  position: absolute;
  width: 151px;
  height: 44px;
  border-radius: 57px;
  border: 1.5px solid #003459;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 80px;
  right: 140px;
}
section#products button p {
  color: #003459;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding-right: 20px;
}

section#products .container {
  width: 1180px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px;
  padding-top: 20px;
  background: #fdfdfd;
  margin: 0 auto;
}

section#products .container .puppy {
  background: #fdfdfd;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 8px 8px 16px 8px;
}
section#products .container .puppy img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  border-radius: 10px;
}
section#products .container .puppy h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #00171f;
  padding-top: 8px;
}
section#products .container .puppy p {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #667479;
  padding-top: 10px;
  padding-bottom: 10px;
}
section#products .container .puppy h4 {
  width: 148px;
  height: 20px;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #002a48;
}
section#products .container .puppy .div {
  display: flex;
  padding: 6px 10px 4px;
  align-items: center;
  justify-content: start;
  gap: 2px;
  width: 248px;
  height: 34px;
  background: #fceed5;
  border-radius: 8px;
  cursor: pointer;
}
section#products .container .puppy .div img {
  width: 20px;
  height: 20px;
}
section#products .container .puppy .div .dumaloq {
  width: 4px;
  height: 4px;
  background: #003459;
  border-radius: 10px;
  margin: 5px;
}

section#partners {
  padding: 70px 130px;
  position: relative;
  background: #fdfdfd;
}
section#partners p {
  font-weight: 500;
  font-size: 16px;
  line-height: 31px;
  display: inline;
}
section#partners h3 {
  padding-left: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  color: #003459;
  display: inline;
}
section#partners button {
  position: absolute;
  width: 201px;
  height: 44px;
  border-radius: 57px;
  border: 1.5px solid #003459;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 70px;
  right: 140px;
}
section#partners button p {
  color: #003459;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

section#partners .container {
  width: 1180px;
  height: 100%;
  background: rgb(255, 255, 255);
  margin: 0 auto;
  margin-top: 40px;
  justify-content: space-between;
  padding: 10px;
}

section#adoption {
  padding: 20px 130px;
  position: relative;
}

section#adoption .container {
  width: 1180px;
  height: 378px;
  display: flex;
  background: #ffb775;
  border-radius: 20px;
  position: relative;
}
section#adoption .container .adop1 {
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
section#adoption .container .adop2 {
  position: absolute;
  right: 0;
  bottom: 0;
}

section#adoption .container .left {
  padding-left: 35px;
  padding-top: 64px;
  position: relative;
}
section#adoption .container .left h1 {
  font-weight: 800;
  font-size: 52px;
  line-height: 68px;
  text-transform: capitalize;
  color: #003459;
  display: inline;
  margin-right: 10px;
}
section#adoption .container .left h2 {
  font-weight: 700;
  font-size: 33px;
  line-height: 54px;
  color: #003459;
  text-transform: capitalize;
}
section#adoption .container .left p {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #242b33;
}
section#adoption .container .left .botton {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  justify-content: start;
  top: 42px;
  z-index: 4;
}
section#adoption .container .left .botton .button1 {
  background: #003459;
  color: #fdfdfd;
  cursor: pointer;
}
section#adoption .container .left .botton button {
  width: 163px;
  height: 48px;
  color: #003459;
  background: transparent;
  border-radius: 57px;
  cursor: pointer;
}

section#adoption .container .right img {
  position: absolute;
  z-index: 5;
}

section#knowledge {
  padding: 70px 130px;
  position: relative;
}

section#knowledge h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  color: #003459;
}
section#knowledge .btn {
  position: absolute;
  width: 151px;
  height: 44px;
  border-radius: 57px;
  border: 1.5px solid #003459;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 80px;
  right: 140px;
}
section#knowledge .btn p {
  color: #003459;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

section#knowledge .container {
  width: 1180px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 20px;
}

section#knowledge .container .know {
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 8px;
  padding-bottom: 16px;
  gap: 8px;
}
section#knowledge .container .know h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #00171f;
  padding: 8px 8px 0 8px;
}
section#knowledge .container .know p {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #242b33;
  padding: 8px;
}
section#knowledge .container .know img {
  border-radius: 12px;
}
section#knowledge .container .know button {
  width: 109px;
  height: 20px;
  padding: 2px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00a7e7;
  border-radius: 28px;
  border: none;
  margin: 8px;
}
section#knowledge .container .know button p {
  all: unset;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  color: #fdfdfd;
}

footer#footer {
  width: 1440px;
  height: 440px;
  padding: 20px 130px;
  background: linear-gradient(102.87deg, #fceed5 6.43%, #fceed5 78.33%, #ffe7ba 104.24%);
  border-radius: 40px 40px 0px 0px;
  position: relative;
}
footer#footer .foot {
  background-color: #fff;
}
footer#footer .foot-1 {
  display: grid;
  grid-template-columns: 389px 1fr;
  padding: 32px;
  gap: 20px;
  height: 136px;
  width: 100%;
  background: #003459;
  border-radius: 16px;
}
footer#footer .foot-1 .foter-1 h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  color: #fdfdfd;
}
footer#footer .foot-1 .foter-2 {
  width: 707px;
  height: 72px;
  background: #ffffff;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
footer#footer .foot-1 .foter-2 input {
  width: 508px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #99a2a5;
  border-radius: 8px;
  padding: 14px 28px;
  gap: 10px;
}
footer#footer .foot-1 .foter-2 button {
  width: 163px;
  height: 48px;
  background: #003459;
  border-radius: 8px;
  padding: 14px 28px 10px;
  gap: 10px;
  color: #fff;
}
footer#footer .foot-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  height: 132px;
  background: transparent;
}
footer#footer .foot-2 .fetter-1 ul {
  display: flex;
  align-items: center;
  gap: 60px;
}
footer#footer .foot-2 .fetter-1 ul li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #001f04;
}
footer#footer .foot-2 .fetter-2 {
  display: flex;
  gap: 40px;
}
footer#footer .foot-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 50px 0;
}
footer#footer .foot-3 span {
  padding-right: 20px;
}
footer#footer .foot-3 p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #667479;
}

@media (max-width: 1180px) {
  section#puppy .container {
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  section#adoption {
    display: none;
  }
}
@media (max-width: 834px) {
  .container {
    width: 414px;
  }
  section#puppy .container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 36px;
    padding-top: 20px;
    background: #fdfdfd;
    margin: 0 auto;
  }
  section#explore {
    display: none;
  }
  section#products {
    display: none;
  }
  section#partners {
    display: none;
  }
  section#adoption {
    display: none;
  }
}
@media (max-width: 414px) {
  .container {
    width: 100%;
  }
  section#puppy .container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 36px;
    padding-top: 20px;
    background: #fdfdfd;
    margin: 0 auto;
  }
  section#explore {
    display: none;
  }
  section#products {
    display: none;
  }
  section#partners {
    display: none;
  }
  section#adoption {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */