// @media (min-width: 834px) {
//   header,
//   section#puppy,
//   section#explore,
//   section#knowledge,
//   footer#footer {
//     width: 1440px;
//   }
// }
@media (max-width: 834px) {
  section {
    background-color: transparent;
  }
  header,
  section#puppy,
  section#explore,
  section#knowledge,
  section#products,
  footer#footer {
    width: 834px;
    overflow: auto;
  }
  // header

  header {
    width: 834px;
    position: relative;
    height: 700px;
    overflow: hidden;
    background: linear-gradient(
      102.87deg,
      #fceed5 6.43%,
      #fceed5 78.33%,
      #ffe7ba 104.24%
    );
    border-radius: 0px 0px 40px 40px;
    .log {
      position: absolute;
      top: 30px;
      left: 360px;
      z-index: 3;
    }
    nav {
      display: none;
      .lar {
        display: none;
      }
      .inlar {
        display: none;
      }
      .english {
        display: none;
      }
    }
  }

  header {
    .lupa {
      display: block;
      position: absolute;
      right: 50px;
      top: 30px;
      cursor: pointer;
    }
    .lupa1 {
      position: absolute;
      left: 50px;
      z-index: 3;
      top: 30px;
      display: block;
      cursor: pointer;
    }
    position: relative;
    .show1 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .show2 {
      position: absolute;
      left: 140.6px;
      top: 163px;
      z-index: 1;
    }
    .show3 {
      position: absolute;
      left: 229.22px;
      bottom: 0px;
      z-index: 1;
      width: 400px;
    }
    .show4 {
      position: absolute;
      left: 255.67px;
      bottom: 0px;
      z-index: 1;
      width: 400px;
    }
    .show5 {
      display: none;
      position: absolute;
      left: 38.33px;
      bottom: 200px;
      z-index: 1;
      width: 200px;
    }
    .show6 {
      position: absolute;
      left: 762.19px;
      top: 148px;
      z-index: 1;
    }
    .show7 {
      position: absolute;
      left: 727px;
      top: 223.64px;
      z-index: 2;
    }
    .show8 {
      position: absolute;
      left: 728px;
      top: 210.68px;
      z-index: 1;
    }
  }

  header .container {
    padding-top: 40px;
    width: 574px;
    height: 700px;
    background: transparent;
    display: grid;
    grid-template-columns: 100%;
    position: relative;
  }
  header .container .showcase1 {
    text-align: start;
    padding-left: 100px;
    h1 {
      display: inline-block;
      font-weight: 600;
      font-size: 50px;
      line-height: 48px;
      text-transform: capitalize;
      color: #002a48;
      z-index: 5;
    }
    h2 {
      font-weight: 700;
      font-size: 25px;
      line-height: 60px;
      text-transform: capitalize;
      color: #002a48;
      z-index: 15;
      position: relative;
    }
    p {
      font-weight: 500;
      font-size: 12px;
      line-height: 24px;
      color: #242b33;
      padding-bottom: 30px;
    }
    .botton {
      display: flex;
      align-items: center;
      gap: 20px;
      .button1 {
        background: transparent;
        color: #003459;
        cursor: pointer;
        width: 153px;
      }
      button {
        width: 153px;
        height: 48px;
        color: #fdfdfd;
        background: #003459;
        border-radius: 57px;
        cursor: pointer;
      }
    }
  }
  header .container {
    .rasm {
      width: 344px;
      height: 100%;
      position: absolute;
      z-index: 5;
      bottom: 0;
      left: 190px;

      img {
        width: 344px;
        height: 293px;
        position: absolute;
        z-index: 6;
        bottom: 0px;
        left: 10px;
      }
    }
  }
  // header
  //   puppy

  section#puppy {
    h3 {
      font-weight: 700;
      font-size: 18px;
      line-height: 36px;
      color: #003459;
      text-transform: capitalize;
      padding-left: 20px;
    }
  }

  section#puppy .container {
    grid-template-columns: repeat(2, 1fr);
    width: 574px;
  }

  section#puppy .container .puppy {
    width: 100%;
  }

  //   puppy
  // explore

  section#explore {
    width: 834px;
    padding: 20px 130px;
    position: relative;
    overflow: hidden;
  }
  section#explore .container {
    width: 574px;
    height: 378px;
    background: transparent;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    overflow: hidden;
    background: #003459;
    border-radius: 20px;
    padding-right: 55px;
  }

  // explore
  //   products

  section#products .container {
    grid-template-columns: repeat(2, 1fr);
  }

  section#products {
    width: 834px;
    padding: 70px 130px;
    position: relative;
    background: #fdfdfd;
  }

  section#products .container {
    width: 574px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 36px;
    padding-top: 20px;
    background: #fdfdfd;
    margin: 0 auto;
  }

  //   products

  //   knowledge

  section#knowledge {
    width: 834px;
    padding: 70px 60px;
    position: relative;
  }

  section#knowledge .container {
    width: 574px;
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    padding-top: 20px;
    .know-3,
    .know-2 {
      display: none;
    }
  }
  //   knowledge

  //   korimaslar
  section#partners {
    display: none;
  }
  section#adoption {
    display: none;
  }
  //   korimaslar

  //   explore

  section#explore {
    width: 834px;
    padding: 20px 130px;
    position: relative;
    overflow: hidden;
  }
  section#explore .container {
    width: 574px;
    height: 640px;
    background: transparent;
    display: grid;
    position: relative;
    overflow: hidden;
    background: #003459;
    border-radius: 20px;
    margin: 0 auto;
  }
  section#explore .container .ex1 {
    img {
      position: absolute;
      z-index: 5;
      bottom: 0px;
    }
  }
  section#explore .container .ex2 {
    height: 100%;
    width: 360px;
    position: relative;
    left: -70px;
    z-index: 5;
    text-align: center;
    h1 {
      position: relative;
      font-weight: 800;
      font-size: 40px;
      line-height: 28px;
      text-transform: capitalize;
      color: #002a48;
      z-index: 35;
      text-align: center;
    }
    h2 {
      text-align: center;
      font-weight: 700;
      font-size: 30px;
      line-height: 28px;
      text-transform: capitalize;
      color: #002a48;
      z-index: 2;
      position: relative;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      z-index: 2;
      color: #242b33;
      position: relative;
      text-align: center;
    }
    .botton {
      display: flex;
      align-items: center;
      gap: 10px;
      position: relative;
      justify-content: end;
      z-index: 4;
      .button1 {
        background: transparent;
        color: #003459;
        cursor: pointer;
      }
      button {
        width: 163px;
        height: 48px;
        color: #fdfdfd;
        background: #003459;
        border-radius: 57px;
        cursor: pointer;
      }
    }
  }
  section#explore {
    overflow: hidden;
    .pup1,
    .pup4 {
      display: none;
    }
    .pup2 {
      position: absolute;
      left: 130px;
      bottom: 0;
      width: 500px;
      z-index: 2;
      border-bottom-left-radius: 20px;
      bottom: 20px;
    }
    .pup3 {
      display: block;
      position: absolute;
      left: 130px;
      top: 20px;
      z-index: 2;
    }
  }

  //   explore

  // footer

  footer#footer {
    width: 834px;
    height: 650px;
    padding: 20px 130px;
    background: linear-gradient(
      102.87deg,
      #fceed5 6.43%,
      #fceed5 78.33%,
      #ffe7ba 104.24%
    );
    border-radius: 40px 40px 0px 0px;
    position: relative;
    .foot {
      background-color: #fff;
      &-1 {
        display: grid;
        grid-template-columns: 1fr;
        padding: 32px;
        gap: 20px;
        height: 206px;
        width: 100%;
        background: #003459;
        border-radius: 16px;
        .foter-1 {
          width: 100%;
          h3 {
            font-weight: 700;
            font-size: 20px;
            line-height: 36px;
            text-transform: capitalize;
            color: #fdfdfd;
            width: 100%;
          }
        }
        .foter-2 {
          background: #ffffff;
          border-radius: 14px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 12px;
          input {
            width: 218px;
            height: 48px;
            background: #ffffff;
            border: 1px solid #99a2a5;
            border-radius: 8px;
            padding: 14px 28px;
            gap: 10px;
          }
          button {
            width: 218px;
            height: 48px;
            background: #003459;
            border-radius: 8px;
            padding: 14px 28px 10px;
            gap: 10px;
            color: #fff;
          }
        }
      }
      &-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid black;
        height: 132px;
        background: transparent;
        .fetter-1 {
          padding-top: 30px;
          ul {
            display: flex;
            align-items: center;
            gap: 120px;
            li {
              a {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #001f04;
              }
            }
          }
        }
        .fetter-2 {
          display: flex;
          gap: 40px;
          padding-bottom: 30px;
        }
      }
      &-3 {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        background: transparent;
        padding: 50px 0;
        gap: 40px;
        span {
          padding-right: 20px;
        }
        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #667479;
        }
      }
    }
  }

  // footer
}
@media (max-width: 414px) {
  //   sectionlar width larini o'zgartirish

  header,
  section#puppy,
  section#explore,
  section#knowledge,
  footer#footer {
    width: 414px;
    overflow: auto;
  }

  //   sectionlar width larini o'zgartirish

  // header

  header {
    width: 414px;
    padding: 10px;
    position: relative;
    height: 750px;
    overflow: hidden;
    background: linear-gradient(
      102.87deg,
      #fceed5 6.43%,
      #fceed5 78.33%,
      #ffe7ba 104.24%
    );
    border-radius: 0px 0px 40px 40px;
    .log {
      position: absolute;
      top: 30px;
      left: 150px;
      z-index: 3;
    }
    nav {
      display: none;
      .lar {
        display: none;
      }
      .inlar {
        display: none;
      }
      .english {
        display: none;
      }
    }
  }

  header {
    .lupa {
      display: block;
      position: absolute;
      right: 50px;
      top: 30px;
      cursor: pointer;
    }
    .lupa1 {
      position: absolute;
      left: 50px;
      z-index: 3;
      top: 30px;
      display: block;
      cursor: pointer;
    }
    position: relative;
    .show1 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .show2 {
      position: absolute;
      left: 360.6px;
      top: 123px;
      z-index: 1;
      width: 20px;
    }
    .show3 {
      position: absolute;
      left: 29.22px;
      bottom: 0px;
      z-index: 1;
      width: 380px;
    }
    .show4 {
      position: absolute;
      left: 35.67px;
      bottom: 0px;
      z-index: 1;
      width: 600px;
      height: 290px;
    }
    .show5 {
      display: none;
      position: absolute;
      left: 38.33px;
      top: 100px;
      z-index: 1;
      width: 200px;
    }
    .show6 {
      position: absolute;
      left: 62.19px;
      top: 48px;
      z-index: 1;
    }
    .show7 {
      position: absolute;
      left: 317px;
      top: 163.64px;
      z-index: 2;
    }
    .show8 {
      position: absolute;
      left: 328px;
      top: 160.68px;
      z-index: 1;
    }
  }

  header .container {
    padding-top: 60px;

    width: 374px;
    height: 750px;
    background: transparent;
    display: grid;
    grid-template-columns: 100%;
    position: relative;
  }
  header .container .showcase1 {
    text-align: start;
    padding-left: 10px;
    h1 {
      display: inline-block;
      font-weight: 600;
      font-size: 40px;
      line-height: 48px;
      text-transform: capitalize;
      color: #002a48;
      z-index: 5;
    }
    h2 {
      font-weight: 700;
      font-size: 25px;
      line-height: 60px;
      text-transform: capitalize;
      color: #002a48;
      z-index: 15;
      position: relative;
    }
    p {
      font-weight: 500;
      font-size: 12px;
      line-height: 24px;
      color: #242b33;
      padding-bottom: 30px;
    }
    .botton {
      display: flex;
      align-items: center;
      gap: 20px;
      .button1 {
        background: transparent;
        color: #003459;
        cursor: pointer;
        width: 153px;
      }
      button {
        width: 153px;
        height: 48px;
        color: #fdfdfd;
        background: #003459;
        border-radius: 57px;
        cursor: pointer;
      }
    }
  }
  header .container {
    .rasm {
      width: 344px;
      height: 100%;
      position: absolute;
      z-index: 5;
      bottom: 0;
      left: 20px;

      img {
        width: 344px;
        height: 293px;
        position: absolute;
        z-index: 6;
        bottom: 0px;
        right: 100px;
      }
    }
  }
  // header

  // gridlar puppy section

  section#puppy .container {
    h3 {
      font-size: 79px;
      color: #00171f;
    }
    p {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: #667479;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  // 2-chi
  //   puppy

  section#puppy {
    padding: 1px;
    h3 {
      font-weight: 700;
      font-size: 18px;
      line-height: 36px;
      color: #003459;
      text-transform: capitalize;
      padding-left: 20px;
    }
  }

  section#puppy .container {
    grid-template-columns: repeat(2, 1fr);
    width: 394px;
    margin: 0 auto;
    gap: 10px;
  }

  section#puppy {
    padding-bottom: 80px;
    width: 414px;
    height: 1530px;
    position: relative;
    background: #fdfdfd;
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
    }
    h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      color: #003459;
      text-transform: capitalize;
    }
    button {
      position: absolute;
      width: 374px;
      height: 44px;
      border-radius: 57px;
      border: 1.5px solid #003459;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      top: 1460px;
      left: 20px;

      p {
        color: #003459;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        padding-right: 20px;
      }
    }
  }
  section#puppy .container .puppy {
    width: 100%;
    height: 100%;
    padding: 0px;
  }
  //   puppy

  section#knowledge .container {
    grid-template-columns: 100%;
  }

  // gridlar puppy section

  //   explore

  section#explore {
    width: 414px;
    padding: 20px;
    position: relative;
    overflow: hidden;
  }
  section#explore .container {
    width: 378px;
    height: 600px;
    background: transparent;
    display: grid;
    position: relative;
    overflow: hidden;
    background: #003459;
    border-radius: 20px;
    margin: 0 auto;
  }
  section#explore .container .ex1 {
    img {
      position: absolute;
      z-index: 5;
      bottom: 0px;
    }
  }
  section#explore .container .ex2 {
    height: 100%;
    width: 374px;
    position: relative;

    left: -20px;
    z-index: 5;
    text-align: center;
    h1 {
      position: relative;
      font-weight: 800;
      font-size: 40px;
      line-height: 28px;
      text-transform: capitalize;
      color: #002a48;
      z-index: 35;
      text-align: center;
    }
    h2 {
      text-align: center;
      font-weight: 700;
      font-size: 30px;
      line-height: 28px;
      text-transform: capitalize;
      color: #002a48;
      z-index: 2;
      position: relative;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      z-index: 2;
      color: #242b33;
      position: relative;
      text-align: center;
    }
    .botton {
      display: flex;
      align-items: center;
      gap: 10px;
      position: relative;
      justify-content: end;
      z-index: 4;
      .button1 {
        background: transparent;
        color: #003459;
        cursor: pointer;
      }
      button {
        width: 163px;
        height: 48px;
        color: #fdfdfd;
        background: #003459;
        border-radius: 57px;
        cursor: pointer;
      }
    }
  }
  section#explore {
    overflow: hidden;
    .pup1 {
      display: none;
    }
    .pup2 {
      position: absolute;
      left: 20px;
      bottom: 0;
      width: 500px;
      z-index: 2;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 85px;
      bottom: 20px;
    }
    .pup3 {
      position: absolute;
      left: 20px;
      top: 20px;
      width: 650px;
      height: 420px;
      z-index: 1;

      display: none;
    }
    .pup4 {
      position: absolute;
      display: block;
      top: 20px;
      left: 18px;
      z-index: 3;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
  }

  //   explore

  //   display none bo'ladi
  section#products {
    display: none;
  }
  section#partners {
    display: none;
  }
  section#adoption {
    display: none;
  }

  //   display none bo'ladi

  //   knowledge start
  //   knowledge

  section#knowledge {
    width: 414px;
    padding: 70px 20px;
    position: relative;
  }

  section#knowledge .container {
    width: 374px;
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    padding-top: 20px;
    .know-3,
    .know-2 {
      display: block;
    }
  }
  //   knowledge

  section#knowledge {
    .btn {
      position: absolute;
      width: 374px;
      height: 44px;
      border-radius: 57px;
      border: 1.5px solid #003459;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 1535px;
      left: auto;
      right: 20px;
    }
  }
  //   knowledge end

  // footer

  footer#footer {
    width: 414px;
    height: 650px;
    padding: 20px 10px;
    background: linear-gradient(
      102.87deg,
      #fceed5 6.43%,
      #fceed5 78.33%,
      #ffe7ba 104.24%
    );
    border-radius: 40px 40px 0px 0px;
    position: relative;
    .foot {
      background-color: #fff;
      &-1 {
        display: grid;
        grid-template-columns: 1fr;
        padding: 32px;
        gap: 20px;
        height: 206px;
        width: 100%;
        background: #003459;
        border-radius: 16px;
        .foter-1 {
          width: 100%;
          h3 {
            font-weight: 700;
            font-size: 14px;
            line-height: 36px;
            text-transform: capitalize;
            color: #fdfdfd;
            width: 100%;
          }
        }
        .foter-2 {
          width: 330px;
          height: 102px;
          background: #ffffff;
          border-radius: 14px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          padding: 10px;
          input {
            width: 308px;
            height: 38px;
            background: #ffffff;
            border: 1px solid #99a2a5;
            border-radius: 8px;
            padding: 14px 28px;
            gap: 10px;
            margin-bottom: 5px;
          }
          button {
            width: 308px;
            height: 48px;
            background: #003459;
            border-radius: 8px;
            padding: 14px 28px 10px;
            gap: 10px;
            color: #fff;
          }
        }
      }
      &-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid black;
        height: 132px;
        background: transparent;
        .fetter-1 {
          padding-top: 30px;
          ul {
            display: flex;
            align-items: center;
            gap: 43px;
            li {
              a {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #001f04;
              }
            }
          }
        }
        .fetter-2 {
          display: flex;
          gap: 40px;
          padding-bottom: 30px;
        }
      }
      &-3 {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        background: transparent;
        padding: 50px 0;
        gap: 30px;
        span {
          padding-right: 20px;
        }
        p {
          font-weight: 500;
          font-size: 15px;
          line-height: 20px;
          color: #667479;
        }
      }
    }
  }

  // footer tugadi
}
