header {
  width: 1440px;
  height: 695px;
  padding: 0px 130px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(
    102.87deg,
    $oq-color 6.43%,
    $oq-color 78.33%,
    $oqi-color 104.24%
  );
  border-radius: 0px 0px 40px 40px;
  .lupa,
  .lupa1 {
    display: none;
  }
  .log {
    position: absolute;
    top: 30px;
    left: 150px;
    z-index: 3;
  }
  nav {
    gap: 50px;
    align-items: center;
    padding: 20px;
    padding-left: 120px;
    .lar {
      ul {
        gap: 48px;
      }
    }
    .inlar {
      .form {
        gap: 14px;
      }
      .input {
        width: 280px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 46px;
        background-color: $secondary-color;
        position: relative;

        input {
          border: none;
          width: 200px;
          margin-left: 20px;
          background-color: transparent;
          outline: none;
        }
      }
      .button {
        width: 203px;
        height: 44px;
        background: #003459;
        border-radius: 57px;
        cursor: pointer;
        button {
          border: none;
          background: none;
          cursor: pointer;
          p {
            color: #fdfdfd;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }
}
header .container {
  width: 1440px;
  height: 695px;
  background: transparent;
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  overflow: hidden;
}
header .container .showcase1 {
  height: 100%;
  h1 {
    position: relative;
    font-weight: 800;
    font-size: 60px;
    line-height: 68px;
    text-transform: capitalize;
    color: $blue-color;
    z-index: 2;
  }
  h2 {
    font-weight: 700;
    font-size: 46px;
    line-height: 60px;
    text-transform: capitalize;
    color: $blue-color;
    padding-top: 10px;
  }
  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $blu-color;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .botton {
    display: flex;
    align-items: center;
    gap: 20px;
    .button1 {
      background: transparent;
      color: $bluu-color;
      cursor: pointer;
    }
    button {
      width: 163px;
      height: 48px;
      color: $white-color;
      background: $bluu-color;
      border-radius: 57px;
      cursor: pointer;
    }
  }
}
header .container {
  .rasm {
    width: 944px;
    height: 100%;
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 390px;

    img {
      width: 944px;
      height: 693px;
      position: absolute;
      z-index: 6;
      bottom: 0;
      left: 0px;
    }
  }
}
header {
  position: relative;
  .show1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .show2 {
    position: absolute;
    left: 140.6px;
    top: 163px;
    z-index: 1;
  }
  .show3 {
    position: absolute;
    left: 599.22px;
    bottom: 0;
    z-index: 1;
  }
  .show4 {
    position: absolute;
    left: 635.67px;
    bottom: 0;
    z-index: 1;
  }
  .show5 {
    position: absolute;
    left: 38.33px;
    bottom: 0;
    z-index: 1;
  }
  .show6 {
    position: absolute;
    left: 762.19px;
    top: 148px;
    z-index: 1;
  }
  .show7 {
    position: absolute;
    left: 727px;
    top: 223.64px;
    z-index: 2;
  }
  .show8 {
    position: absolute;
    left: 728px;
    top: 210.68px;
    z-index: 1;
  }
}
header nav .english {
  display: flex;
  align-items: center;
  .dropbtn {
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: transparent;
  }
}
