$primary-color: #000;
$secondary-color: #fff;
$qora-color: #1d0e0b;
$blue-color: #002a48;
$blu-color: #242b33;
$bluu-color: #003459;
$white-color: #fdfdfd;
$oq-color: #fceed5;
$oqi-color: #ffe7ba;
$qop-qora: #00171f;
$havo-color: #667479;
