section#adoption {
  padding: 20px 130px;
  position: relative;
}

section#adoption .container {
  width: 1180px;
  height: 378px;
  display: flex;
  background: #ffb775;
  border-radius: 20px;
  position: relative;
  .adop1 {
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }
  .adop2 {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

section#adoption .container .left {
  padding-left: 35px;
  padding-top: 64px;
  position: relative;
  h1 {
    font-weight: 800;
    font-size: 52px;
    line-height: 68px;
    text-transform: capitalize;
    color: #003459;
    display: inline;
    margin-right: 10px;
  }
  h2 {
    font-weight: 700;
    font-size: 33px;
    line-height: 54px;
    color: #003459;
    text-transform: capitalize;
  }
  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #242b33;
  }
  .botton {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    justify-content: start;
    top: 42px;
    z-index: 4;
    .button1 {
      background: #003459;
      color: #fdfdfd;
      cursor: pointer;
    }
    button {
      width: 163px;
      height: 48px;
      color: #003459;
      background: transparent;
      border-radius: 57px;
      cursor: pointer;
    }
  }
}

section#adoption .container .right {
  img {
    position: absolute;
    z-index: 5;
  }
}
