section#partners {
  width: 1440px;
  padding: 70px 130px;
  position: relative;
  background: $white-color;
  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 31px;
    display: inline;
  }
  h3 {
    padding-left: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
    color: $bluu-color;
    display: inline;
  }
  button {
    position: absolute;
    width: 201px;
    height: 44px;
    border-radius: 57px;
    border: 1.5px solid $bluu-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 70px;
    right: 140px;

    p {
      color: $bluu-color;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
section#partners .container {
  width: 1180px;
  height: 100%;
  background: $secondary-color;
  margin: 0 auto;
  margin-top: 40px;
  justify-content: space-between;
  padding: 10px;
}
